@font-face {
  font-family: "OwFont";
  src: url('../../fonts/OwFont.eot');
  src: url('../../fonts/OwFont.eot?#iefix') format('eot'),
    url('../../fonts/OwFont.woff') format('woff'),
    url('../../fonts/OwFont.ttf') format('truetype'),
    url('../../fonts/OwFont.svg#OwFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.OwIcon:before {
  display: inline-block;
  font-family: "OwFont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.OwIcon--lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.OwIcon--2x { font-size: 2em; }
.OwIcon--3x { font-size: 3em; }
.OwIcon--4x { font-size: 4em; }
.OwIcon--5x { font-size: 5em; }
.OwIcon--fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.OwIcon--burger:before { content: "\EA01" }
.OwIcon--wallet:before { content: "\EA02" }
.OwIcon--dots:before { content: "\EA03" }
.OwIcon--bell:before { content: "\EA04" }
.OwIcon--chat:before { content: "\EA05" }
.OwIcon--grid:before { content: "\EA06" }
