doctype html
html
  head
    link(rel='stylesheet', href="styles/main.css" type="text/css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" type="text/css")
    meta(charset='utf-8')
    //- horrific in-line CSS
    style.
      svg {
        font-size: 10px;
      }

      .y.axis path {
        display: none;
      }

      .y.axis line {
        stroke: #fff;
        stroke-opacity: .2;
        shape-rendering: crispEdges;
      }

      .y.axis .zero line {
        stroke: #000;
        stroke-opacity: 1;
      }

      .title {
        font: 300 78px Helvetica Neue;
        fill: #666;
      }

      .birthyear,
      .age {
        text-anchor: middle;
      }

      .birthyear {
        fill: #fff;
      }

      rect {
        fill-opacity: .6;
        fill: #e377c2;
      }

      rect:first-child {
        fill: #1f77b4;
      }

  body
    h1 D3

    script(src='https://code.jquery.com/jquery-3.0.0.js', integrity='sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=', crossorigin='anonymous')
    script(src="https://d3js.org/d3.v3.min.js" charset="utf-8")
    script(type="application/javascript", src="scripts/main.js")
